/*START PRELOADER DESIGN*/
.preloader {
	position: fixed;
	left: 0;
	width: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	z-index: 9999999;
	background-color: transparent;
	-webkit-transition: .9s;
	transition: .9s;
  }
  
  .preloader .loader {
	-webkit-transition: 0.5s;
	transition: 0.5s;
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	display: inline-block;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 45%;
	-webkit-transform: translateY(-45%);
			transform: translateY(-45%);
  }
  
  .preloader .loader .loader-outter {
	position: absolute;
	border: 4px solid #0275d8;
	border-left-color: transparent;
	border-bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-webkit-animation: loader-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
			animation: loader-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
  }
  
  .preloader .loader .loader-inner {
	position: absolute;
	border: 4px solid #0275d8;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	left: calc(50% - 30px);
	top: calc(50% - 30px);
	border-right: 0;
	border-top-color: transparent;
	-webkit-animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
			animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
  }
  
  .preloader .loader span {
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
	color: #0275d8;
	font-size: 25px;
	font-weight: 700;
  }
  
  .preloader::before, .preloader::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 60%;
	height: 100%;
	z-index: -1;
	background: #fff;
	-webkit-transition: .9s;
	transition: .9s;
  }
  
  .preloader::after {
	left: auto;
	right: 0;
  }
  
  .preloader.preloader-deactivate {
	visibility: hidden;
  }
  
  .preloader.preloader-deactivate::after, .preloader.preloader-deactivate::before {
	width: 0;
  }
  
  .preloader.preloader-deactivate .loader {
	opacity: 0;
	visibility: hidden;
  }
  
  @-webkit-keyframes loader-outter {
	0% {
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
  }
  
  @keyframes loader-outter {
	0% {
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
  }
  
  @-webkit-keyframes loader-inner {
	0% {
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(-360deg);
			  transform: rotate(-360deg);
	}
  }
  
  @keyframes loader-inner {
	0% {
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(-360deg);
			  transform: rotate(-360deg);
	}
  }
  /* END PRELOADER DESIGN*/

/*-------home page----*/
html{
	overflow-x: hidden;
}
body{
	font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #333333;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6{
	color: #333333;
	font-weight: 600;
}
.fw_300{
	font-weight: 300;
}
.fw_600{
	font-weight: 600;
}
a{
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
a:hover{
	text-decoration: none;
}
a a:focus{
	outline: none;
}
img{
    max-width: 100%;
	height: auto;
}
p{
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 15px;
    color: #333333;
    letter-spacing: 0;
}
ul, ol{
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
ul li, ol li{
	list-style: none;
}
.gray_bg{
	background: #fcfcfc;
}
.dark_bg{
	background: #000;
}

/*-------home page---*/


.navbar{
    padding: 15px 0;
}
.navbar-brand p{
    font-size: 32px;
	text-transform: uppercase;
    color: #0275d8;
    font-weight: 700;
}
.bg-faded{
	background-color: transparent;
	transition: all 0.3s ease 0s;
}
@media only screen and (max-width:768px){ 
	.bg-faded {
		background: #fff;
		animation: fadeInDown 1s both 0.2s;
	}
}
.navbar-light .navbar-nav .nav-link{
    color: #333333;
	text-transform: uppercase;
	font-weight: 600;
    font-size: 15px;
    padding: 0 15px;
}
.dark_bg_menu .navbar-nav .nav-link{
	color: #fff;
}
@media only screen and (max-width:768px){ 
.navbar-light .navbar-nav .nav-link {color: #333;}
}
@media only screen and (max-width:480px) { 
.navbar-light .navbar-nav .nav-link {padding: 8px 0px;}
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
	color: #0275d8 !important;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open > .nav-link{
	color: #0275d8  !important;
}
.navbar-light .navbar-toggler{
	border-color: #fff;
	border-radius: 0px;
}
.navbar-light .navbar-toggler{
	float: right;
	margin: 14px;
	cursor: pointer;
    background-color: #08d665;
	border-color: #08d665;
	border-radius: 0;
}
.navbar-light .navbar-toggler-icon{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox=\'0 0 32 32\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath stroke=\'rgba(0, 0, 0, 0.5)\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' d=\'M4 8h24M4 16h24M4 24h24\'/%3E%3C/svg%3E");
}
.navbar-light .navbar-toggler i{
	color: #333!important;
}
.site-navigation{
    border-radius: 0px;
}
@media only screen and (max-width:480px){ 
	.collapse.show{
		display: block;
		padding: 0!important;
	}
}
.navbar-fixed{
    z-index: 99999;
    position: fixed;
    width: 100%;
	padding:20px 0;
    top: 0;
    -webkit-animation: fadeInDown 800ms;
    animation: fadeInDown 800ms;
    -webkit-backface-visibility: hidden;
    border-radius: 0px;
    background-color: #E0E5EC;
	box-shadow:0 10px 40px rgba(0, 0, 0, 0.05);
}
.dark_bg_menu{
	z-index: 99999;
    position: fixed;
    width: 100%;
	padding:20px 0;
    top: 0;
    -webkit-animation: fadeInDown 800ms;
    animation: fadeInDown 800ms;
    -webkit-backface-visibility: hidden;
    border-radius: 0px;
    background-color: #000;
	box-shadow:0 10px 40px rgba(0, 0, 0, 0.05);
}
@media only screen and (max-width:768px){ 
	.navbar-fixed {background:#bdbaba;}
	.navbar-fixed.navbar-light .navbar-nav .nav-link{color:#333;}
}
.navbar-fixed.navbar-light .navbar-nav .nav-link{color:#333333;}
.navbar-fixed.dark_bg_menu .navbar-nav .nav-link{color:#fff;}
@media only screen and (max-width:768px){ 
.navbar-fixed.navbar-light .navbar-nav .nav-link{color:#333;}
}
/*-------home page----*/
/* ==========================================================================
hero contents
========================================================================== */

.hero-heading{
	font-size: 48px;
	font-weight: 700;
	color: #fff;
	text-transform: capitalize;
	line-height: 70px;
	letter-spacing: 0.1rem;
}
.hero-sub-heading{
	font-size: 20px;
	font-weight: 400;
	color: #e6e6e6;
	line-height: 45px;
	letter-spacing: 0.1rem;
}
.section-titile-bg{
	display: inline;
	font-size: 115px;
	font-weight: 700;
	height: 100%;
	left: -173px;
	opacity: 0.1;
	position: absolute;
	top: -14px;
	width: 100%;
	text-align: center;
}
.section-title-header p{
	text-align: center;
	font-weight: 400;
	line-height: 26px;
	padding-bottom: 36px;
}
.section-title{
    color: #222;
	text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.4px;
    line-height: 1;
    margin-bottom: 60px;
    font-weight: 600;
}
.dark_bg .section-title{
	color: #fff;
}
.section-title span{
	color: #08d665;
}
.btn{
    font-size: 14px;
    padding: 10px 22px;
    border-radius: 0px;
    cursor: pointer;
    font-weight: 400;
    color: #fff;
    border-radius: 30px;
    text-transform: capitalize;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: inline-block;
}
.btn:focus,
.btn:active{
	box-shadow: none;
	outline: none;
	color: #fff;
}
.btn-common{
	font-size: 14px;
    padding: 10px 30px;
    border-radius: 0px;
    cursor: pointer;
    font-weight: 400;
    color: #fff;
    border-radius: 30px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: inline-block;
	background-color: #08d665;
	position: relative;
	z-index: 1;

}
button:focus{
	outline: none !important;
}
.btn.btn-secondary{
    background: #08d665;
    border-color: #08d665;
    color: #fff;
}
.btn.btn-secondary:hover{
    box-shadow: 1px 5px 12px rgba(0,0,0, 0.15);
}
.btn-secondary.banner_btn{
    background: #08d665;
    border-color: #08d665;
	color: #fff;
    text-transform: capitalize;
    margin-top: 30px;
	padding: 12px 32px;
}
/* ScrollToTop */

a.back-to-top{
	display: none;
	position: fixed;
	bottom: 18px;
	right: 15px;
	text-decoration: none;
}
a.back-to-top i{
	display: block;
	font-size: 18px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	background: #08d665;
	border-radius: 20px;
	text-align: center;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
a.back-to-top:hover, a.back-to-top:focus{
	text-decoration: none;
}
#loader{
	position: fixed;
	background: #fff;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999999999;
}
.square-spin{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -40px;
	margin-top: -40px;
}
.square-spin img{
	max-width: 64px;
}
/* Section-padding */
.section-padding {
    padding: 80px 0;
}


#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
	top: 0;
}
.banner_content{
	margin-top: 230px;
}
.banner_content strong{
    font-size: 30px;
	color: #222;
}
.banner_content h1{
	font-weight: 600;
    color: #222;
    font-size: 50px;
    margin: 5px 0 10px;
	text-transform: capitalize;
}
.dark_bg .banner_content h1{
	color: #fff;
}
.banner_content h3{
	color: #08d665;
	text-transform: uppercase;
	font-size: 25px;
}
.banner_content h1 span .fw_600{
	font-weight: 600;
}
.cd-headline.clip .cd-words-wrapper::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #fff;
}
.banner_content p{
    color: #333333;
	font-size: 14px;
    padding-bottom: 0;
    max-width: 100%;
}
.dark_bg .banner_content p{
	color: #fff;
}
.banner-images img{
	margin-top: 90px;
}
/* ==========================================================================
hero content
========================================================================== */
/*-----------------------skills---------------------------------------*/

/*-----------------------skills---------------------------------------*/
/*-----------------------contact---------------------------------------*/
.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 0px;
    background-color: #000;
}
.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
}
.contact-text h2 span{
    color: #0ef;
}
.contact-text h4{
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.contact-icons i:hover{
    background: #0ef;
    color: #000;
    box-shadow: 0  0 20px #0ef;
}
.contact-form form{
    position: relative;
}
.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #faf5f5;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #001b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.contact-form form .send:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
/*-----------------------contact---------------------------------------*/

/* ==========================================================================
11. Start Footer section
========================================================================== */
.footer-area{
	padding: 30px 0 20px;
    background: #000;
}
.footer-area .footer-text p{
	font-size: 15px;
	color: #fff;
}
/* ==========================================================================
11. End Footer section
========================================================================== */